doxygen.output
bin/a.out
docs/doxygen-html/
docs/*.pdf
src/firmware/
src/output/
src/preprocessedc/
src/objects/
src/debug/
src/assembly/*.s
!src/assembly/flashBurn.s
src/assembly/decoders/*.s
src/assembly/initialisers/*.s

